__pycache__/
*.py[cod]
*$py.class

.venv/
venv/
venv-build/

.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
.coverage.*
htmlcov/

build/
dist/
*.egg-info/
.eggs/
pip-wheel-metadata/

*.log
logs/

.idea/
.vscode/

.env
.env.*

models/*

data/raw
data/splits
data/index.csv

tests/
