numpy
opencv-contrib-python
pygrabber>=0.2
mediapipe==0.10.14
openvino
torch

PyQt5==5.15.10
PyQt5-sip==12.13.0
pyqtgraph==0.13.3

pyautogui==0.9.54
pynput==1.7.6
openpyxl==3.1.2
reportlab==4.0.7
matplotlib==3.8.2

pyinstaller>=6.0
pillow>=10.0
